backend-gastos/src/main/resources/application.properties
.vscode/settings.json
frontend-gastos/index.html
.gitignore
frontend-gastos/screen.png
frontend-gastos/index.html
.gitignore
frontend-gastos/code.html
frontend-gastos/index.html
